:root {
    --azul: rgb(40, 139, 252);
    --escuro: rgb(227, 229, 230);
    --claro: whitesmoke;
}
header{
    background-color: white;
    height: 4rem;
    width: 100%;
}
.logo{
    height: 3rem;
}
body{
    background-color: var(--escuro);
}


