:root {
    --azul: rgb(40, 139, 252);
    --escuro: rgb(227, 229, 230);
    --claro: whitesmoke;
    --borda:rgb(190, 190, 190);
}
header{
    background-color: white;
    height: 60px;
    width: 100%;
    border: 1px solid var(--borda);
    border-radius: 0.3rem;
}
.logo{
    height: 55px;
}
body{
    background-color: var(--escuro);
}
.universidade{
    background-color: var(--claro);
    text-align: center;
    height: 45px;
    box-sizing: border-box;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 2rem;
    border: 1px solid var(--borda);
    border-bottom: 0px;
    font-weight: 700;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}
.container{
    background-color: white;
    height: 150px;
    box-sizing: border-box;
    margin-right: 120px;
    margin-left: 120px;
    border: 1px solid var(--borda);
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
article{
    text-align: center;
    height: 82px;
    border: 1px solid var(--borda);
    border-radius: 0.3rem;
    margin: 20px;
}
.minilogos{
    height: 55px;
}
.conteudo{
    align-content: center;
}
