:root {
    --azul: rgb(40, 139, 252);
    --escuro: rgb(227, 229, 230);
    --claro: whitesmoke;
}
header{
    background-color: white;
    height: 90px;
    width: 100%;
}
.logo{
    height: 75px;
}
body{
    background-color: var(--escuro);
}
.universidade{
    background-color: var(--claro);
    text-align: center;
    height: 45px;
    width: 120px;
    box-sizing: border-box;
    display: block;
}

